Repository microcks/hub.microcks.io, pull requests merged in 2025-03, with the labels that each got.

#122 chore: remove console logs from frontend (#120)
  frontend/src/app/pages/package/apiVersion/apiVersion.page.ts
Labels: kind/enhancement, component/ux

#121 allowing width attribute in markdownConverter
  frontend/src/app/components/markdown.ts
Labels: kind/enhancement, component/ux

#133 fixed the Twitter and Zulip and previous mess-ups
  frontend/src/app/components/footer-bar/footer-bar.component.html
  server/documentation/submit-your-api-package.md
Labels: kind/enhancement, component/documentation

#134 docs: Fix 404 link in package-api-mocks documentation (#132)
  server/documentation/package-api-mocks.md
Labels: kind/bug, component/documentation

#136 docs: Fix 404 link in package-api-mocks documentation (Multi-artifacts support) (#135)
  server/documentation/package-api-mocks.md
Labels: kind/bug, component/documentation
